* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #4e5255;
}

/*---------- Header ----------*/
header {
  position: fixed;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0px;
  height: 100vh;
  top: 10.5vh;
  background-color: #e4d0cd;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  list-style: none;
}

.nav__list li {
  opacity: 0;
  margin: 20px 0;
  font-size: 2em;
}

.nav__list a {
  text-decoration: none;
  color: #4e5255;
}

.nav__list a:visited {
  color: #4e5255;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.nav__list-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav__toggle {
  display: block;
  width: 32px;
  height: 20px;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
  background-color: transparent;
  cursor: pointer;
}

.nav__toggle span {
  display: block;
  position: absolute;
  top: 9px;
  right: 0;
  width: 32px;
  height: 2px;
  background-color: #e4d0cd;
}

.nav__toggle::before, .nav__toggle::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  height: 2px;
  background-color: #e4d0cd;
}

.nav__toggle::before {
  width: 25px;
  top: 0;
}

.nav__toggle::after {
  width: 25px;
  bottom: 0;
}

/*---------- Main ----------*/
/* background */
.bg {
  position: fixed;
  z-index: -2;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0s 0.4s;
  transition: opacity 0s 0.4s;
}

.bg-image {
  background-image: url(../image/bg-main.png);
  background-size: 100% auto;
  background-position: top;
  z-index: -1;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

/* general */
h1, h3, h5 {
  color: #1f4115;
}

.section {
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 0;
}

.section:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: #e4d0cd;
  left: 45%;
}

.section__container {
  width: 80%;
}

.section__container p {
  text-align: justify;
}

.section__title {
  margin: 20px 0;
}

/* hero */
.hero {
  min-height: calc(80vh - 89px);
  margin-top: 80px;
  color: #1f4115;
}

.hero__containter {
  width: 90%;
}

.hero__title {
  font-size: 3em;
  margin: 0 auto 5px;
}

.hero__subtitle {
  position: relative;
  margin: 0 auto 20px;
}

.hero__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__social a {
  color: #1f4115;
}

.hero__social a:visited {
  color: #1f4115;
}

.hero__social a:hover {
  color: #e4d0cd;
}

.hero__social i {
  margin: 0 15px;
  font-size: 1.25em;
}

/* tech stack */
.tech-list li {
  list-style-type: none;
  margin-bottom: 20px;
}

.tech-list li h5 {
  text-align: left;
  margin-bottom: 5px;
  color: #9a9fa2;
}

/* experience */
.section-item {
  margin-bottom: 20px;
}

.item__title, .item__date {
  text-align: left;
  margin-bottom: 5px;
}

.item__title {
  font-size: 20px;
}

.item__date {
  color: #9a9fa2;
}

.item__tech {
  color: #9a9fa2;
  text-align: left;
}

/* projects */
.project-item {
  margin-bottom: 40px;
}

.project-item:first-child {
  margin-top: 40px;
}

.project-item__image {
  width: 100%;
  margin: 15px 0 0px 0;
  border: 1px solid #eee;
}

.btn {
  border: none;
  border-radius: 3px;
  background-color: #e4d0cd;
  padding: 5px 10px;
  font-size: 12px;
  color: #4e5255;
  cursor: pointer;
  text-decoration: none;
}

.btn-view-more {
  text-decoration: none;
  color: #4e5255;
}

.btn-view-more:hover {
  border-bottom: 2px solid #e4d0cd;
}

/*---------- Footer ----------*/
footer {
  margin-top: 50px;
  padding: 30px 0;
  background-color: #333;
  opacity: 0.5;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.footer__social i {
  margin: 0 15px;
  font-size: 1em;
  color: #fff;
}

.footer__desc {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
}

/*--------------- Web Styles - Home ---------------*/
@media only screen and (min-width: 950px) {
  /*---------- header ----------*/
  header {
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: auto;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav__list li {
    opacity: 1;
    font-size: 1em;
    padding: 0 20px;
  }
  .section:not(:last-child)::after {
    left: 48%;
  }
}

/* ==========================================================================
   project page
   ========================================================================== */
.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-bottom: 50px;
}

.project__detail {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  padding-bottom: 10px;
}

.carousel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn-project {
  font-size: 13px;
}

@media only screen and (min-width: 950px) {
  .project__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .project__detail {
    padding-right: 20px;
  }
  .carousel {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}
/*# sourceMappingURL=main.css.map */